.notfound-container {
  width: 100vw;
  height: 100vh;
  background-color: #161625;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.notfound-inner-container {
  text-align: center;
}
.notfound-img {
  width: 448px;
  height: 300px;
}

.notfound-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #cbd5e1;
}

.notfound-para {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #94a3b8;
}

.notfound-btn {
  align-items: center;
  padding: 12px 24px;
  background: #2563eb;
  border-radius: 12px;
  border-width: 0px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

@media (max-width: 799px) {
  .notfound-img {
    width: 237px;
    height: 159px;
  }
  .notfound-heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #e2e8f0;
  }
  .notfound-para {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #94a3b8;
  }
  .notfound-btn {
    padding: 8px 16px;
    font-size: 12px;
    line-height: 16px;
  }
}
